.pad {
  width: 30px;
  height: 30px;
  background: rgb(49, 48, 48);
  /* transition: background-color 0.2s ease; */
  cursor: pointer;
  text-align: center;
}
.pad > i {
  color: white;
}
.pad-up {
  position: absolute;
  top: 0;
  left: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.pad-right {
  position: absolute;
  top: 50%;
  left: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.pad-down {
  position: absolute;
  top: 100%;
  left: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.pad-left {
  position: absolute;
  top: 50%;
  left: 0%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pad-center {
  width: 30px;
  height: 30px;
  background: rgb(49, 48, 48);
  position: absolute;
  top: 50%;
  left: 50%;
}
.joystick-container {
  position: relative;
  width: 60px;
  height: 60px;

  margin: auto;
  margin-left: 35%;
  margin-bottom: 50px;
  margin-top: 20px;
}
.pad:hover {
  background: rgb(83, 82, 82);
}
.pad:active {
  background: rgb(226, 169, 12);
}
.arrow {
  border: solid rgb(193, 190, 196);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.myTurn {
  display: inline-block;
  background: none;
  color: rgb(49, 48, 48);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  animation: pulseAnimation 1.5s ease infinite;
}
.hisTurn {
  display: inline-block;
  background: none;
  color: rgb(49, 48, 48);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
.action {
  display: inline-block;
  background: rgb(159, 9, 245);
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}
.player-1 {
  display: inline-block;
  background: rgb(62, 133, 240);
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}

.player-2 {
  display: inline-block;
  background: rgb(247, 99, 168);

  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}
.pass-tour {
  background: rgb(193, 190, 196);
  border: none;
  color: rgb(43, 42, 42);
  font-weight: 600;
}
.pass-tour:hover {
  background: rgb(238, 111, 26);
}

.control-container {
  padding: 10px;
  background: rgb(49, 48, 48);
  display: block;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.control-container > span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}
.actions {
  color: white;
}

@keyframes pulseAnimation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
